body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e6;
    color: #5c4b3b;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e4d6c3;
    padding: 20px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: #5c4b3b;
    font-weight: bold;
}

main {
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fffaf2;
    text-align: center;
}

footer {
    background-color: #e4d6c3;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

